#waitText, #judgeText, #handHeader {
	display: none;
}

#nameInUseText, #sorryText, #sorryProgressText, #sorryGameInterruptText {
	color: red;
	display: none;
}

#handCanvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
	visibility: hidden;
	width: 100%;
}

#tableCanvas {
	border: 1px solid #d3d3d3;
	background-color: #C4D9FE;
	display: block;
	width: 100%;
}

button {
	display: none;
}

h1 {
	text-align: center;
}

table {
	display: block;
	margin-bottom: 1.3em;
}
td {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	vertical-align: center;
	text-align: center;
}
td:hover {
	background-color: blue;
	color: white;
}
td:click {
	background-color: blue;
	color: white;
}